<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Mediastrategi\UODC\Model\Carrier\Shippingmethod">
        <plugin name="msuodc_delivery_checkout_arguments" type="Mediastrategi\CustomCheckoutParameters\Plugin\ShippingmethodPlugin" />
    </type>
</config>
